@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 2rem 14%;
  background-image: url('./background.jpg');
  background-size: cover; /* Ensures the image covers the entire background */
 ; /* Prevents the image from repeating */
  background-position: center; /* Centers the image */

  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
